
<h3>
  This pokemon is:
  <%=@pokemon.treatment_notes %>
</h3>
<div class="form-container">
  <form method="POST" action="/pokemon/heal">
    <div class="form-item">
      <label for="treatment_notes">Please choose a treatment</label>
      <select class="form-item" name="treatment_notes">
        <option value="Antidote">Antidote</option>
        <option value="Paralyze Heal">Paralyze Heal</option>
        <option value="Ice Heal">Ice Heal</option>
        <option value="Awakening">Awakening</option>
      </select>
    </div>

  </form>
</div>

<form action="/pokemon/<%= @pokemon.id %>/heal" method="POST"><input type="submit" value="Heal Pokemon"></form>
