<h1>Add a pokemon</h1>

<div class="form-container">
  <form method="POST" action="/pokemon">

    <div class="form-item">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" required>
    </div>

    <div class="form-item">
      <label for="type">Type: </label>
      <input type="text" name="type" id="type" required>
    </div>

    <div class="form-item">
      <label for="date_caught">Age: </label>
      <input type="number" name="date_caught" id="date_caught" required>
    </div>

    <div class="form-item">
      <label for="treatment_notes">Treatment Notes: </label>
      <select name="treatment_notes" id="treatment_notes">
        <option value="Poisoned">Poisoned</option>
        <option value="Paralyzed">Paralyzed</option>
        <option value="Frozen">Frozen</option>
        <option value="Asleep">Asleep</option>
      </select>
    </div>

    <div class="form-item">
      <label for="vet">Assign to: </label>
      <select name="vet_id" id="vet">
        <% @vets.each do |vet| %>
          <option value=<%= vet.id %>><%= vet.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-item" class="form-button">
      <label for="reset"></label>
      <input type="reset" name="reset" id="reset">
    </div>

    <div class="form-item" class="form-button">
      <input type="submit" value="Add Pokemon">
    </div>

  </form>
</div>
