<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/javascripts/index.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
  <link rel="stylesheet" href="/styles/animation.css" type="text/css">
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css">

  <title>Pokemon Centre</title>
</head>
<body>
  <nav id="main-nav">
    <img src="/images/PokemonCenterExterior.png" alt="" id="pokecentre">
    <h1>Pokemon Centre</h1>
    <ul class="nav-buttons">
      <li><a href="/">Home</a></li>
      <li><a href="/pokemon">Pokemon</a></li>
      <li><a href="/vets">Vets</a></li>
      <li><a href="/pokemon/new">Add a Pokemon</a></li>
    </ul>
    <div class="nav-burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <div class="clipboard">
    <%= yield %>
  </div>
  <footer>
    All rights reserved? As far as I'm aware I don't own the rights to Pokemon. Please don't sue me Nintendo
  </footer>
</body>

</html>
