<h1>Add a Vet</h1>

<div class="form-container">
  <form method="POST" action="/vets">

    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </div>

    <div class="form-item">
      <label for="reset"></label>
      <input type="reset" name="reset" id="reset">
    </div>

    <div class="form-item">
      <input type="submit" value="Add Vet">
    </div>

  </form>
</div>
