<h1><%=@vet.name%>'s Pokemon</h1>

<%pokemon_array = @vet.show_pokemons %>

<% pokemon_array.each do |pokemon| pokemon%>

<div class="index-items">
  Name: <%= pokemon['name'] %>
  <a href="/pokemon/<%=pokemon['id']%>">More Information</a>

  <a href="/pokemon/<%=pokemon['id']%>/heal">heal</a>
<% end %>
</div>
