#main-nav {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  min-height: 8vh;
  justify-content: space-around;
}

#pokecentre {
  border-radius: 5px;
  height: 8vh;
  margin: 10px;
  min-height: 7vh;
}

nav h1 {
  /* margin-top: 10px; */
  position: relative;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
}

/*** Buttons ***/

nav ul {
  /* float: right; */
  display: flex;
  /* margin-top: 15px; */
}

#main-nav ul li a {
  background: #fc6f79;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  text-align: center;
}

#main-nav ul li a:hover {
  background: #fc6f79;
}

#main-nav ul li a:hover:active {
  background: orange;
  border-radius: 20px;
}

.nav-burger {
  display: none;
  cursor: pointer;
}

.nav-burger div {
  width: 30px;
  height: 4px;
  margin: 7px;
  margin-right: 20px;
  border-radius: 3px;
  background-color: #fc6f79;
}

.mobile-nav-on {
  transform: translateX(0%);
}

@media screen and (max-width: 1100px) {
  nav h1 {
    font-size: 2.5rem;
  }

  nav ul li a {
    font-size: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  #nav-buttons {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    justify-content: space-around;
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    /* display: none; */
  }

  .nav-burger {
    display: block;
  }
}
