* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CD343D;

}

nav {
  background: #f4f4f4;
  width: 100%;
  height: 14vh;
  align-items: center;
}

#pokecentre {
  border-radius: 5px;
  height: 10vh;
  padding-left: 10px;
  padding-top: 5px;
}
/* 
div.pokeball {
  color: white;
  width: 20vw;
  height: 20vw;
  background: linear-gradient( 0deg, white, white 49%, black 50%, white 51%, red 51% );
  border-radius: 50%;
  border: 1px black solid;
  display: flex;
}

div.pokeball:hover {
  color: white;
  width: 20vw;
  height: 20vw;
  background: linear-gradient( 0deg, white, white 49%, black 50%, white 51%, #5A4198 51% );
  border-radius: 50%;
  border: 1px black solid;
  display: flex;
} */
