* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: url("/images/chansey.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
}

.homepage-button {
  margin: 20px;
  padding: 20px;
  font-size: 1rem;
}

#homepage-buttons a {
  position: relative;
  margin-left: 33%;
  margin-top: 15%;
  display: flex;
  width: 150px;
  justify-content: center;
  align-content: center;
}

a {
  background: #fc6f79;
  color: white;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;

  text-align: center;
}

a:hover {
  background: #fc6f79;
  opacity: 0.8;
  text-align: center;
}

a:hover:active {
  background: orange;
  opacity: 0.8;
  border-radius: 20px;
}

.index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.index-items a {
  margin-left: -3px;
}

.clipboard {
  position: fixed;
  width: 50vw;
  height: 65vh;
  background: #f4f4f4;
  left: 4vw;
  top: 22vh;
  border-radius: 10px;
  overflow: scroll;
}

.index-container {
  display: grid;
  grid-template-areas:
    "h1"
    "auto auto"
    "auto auto"
    "auto auto";
  grid-auto-rows: 1fr 1fr;
}

.clipboard h1 {
  text-align: center;
  margin: 20px;
}

.index-wrapper {
  margin-left: 6vw;
  min-height: 170px;
}

.index-items {
  display: flex;
}

.index-container-show {
  height: 100%;
  align-content: center;
  margin-left: 25%;
}

.index-items-show {
  font-size: 1.5rem;
  margin: 10px;
}

.pokemon-delete {
  background-color: #ee3541;
  border-radius: 3px;
  font-size: 1rem;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  margin: 10px;
}

.edit-buttons {
  display: flex;
}

.edit-buttons a {
  padding: 5px;
}

/* Vet */

.vet-container {
  margin: 20px;
  margin-left: 33%;
}

.vet-index-wrapper {
  margin: 25px;
}

.vet-button-add {
  margin: 30px;
  margin-left: 40%;
  background: #60a0d8;
}

.vet-button-show {
  margin-top: 20px;
}

.vets-pokemon {
  margin-bottom: 30px;
  margin-left: 30%;
}

footer {
  position: fixed;
  background: #f4f4f4;
  width: 100vw;
  height: 3vh;
  bottom: 0;
  text-align: center;
}

/* FORM */

.form-container {
  margin-right: 20%;
}

.pokemon-form {
  height: 100%;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 8vw;
}

.form-container .form-item {
  /* margin-right: 30%; */
  margin: 5px;
  margin-top: 2vh;
  align-items: right;
}

.form-item input {
  border: 1px #f4f4f4 solid;
  border-radius: 10px;
  padding: 6px;
  margin-left: 15px;
}

.form-item input:focus {
  outline: none;
  border-color: #fc6f79;
}

@media screen and (max-width: 768px) {
  .clipboard {
    position: fixed;
    top: 14vh;
    width: 90vw;
    height: 80vh;
    background: #f4f4f4;
    border-radius: 10px;
    overflow: scroll;
  }
}
